// nextflow.config

manifest {
    name        = 'omics-assay-to-immport'
    description = 'Converts Salmon RNA-seq output into ImmPort submission templates'
    version     = '0.1.0'
    mainScript  = 'main.nf'
}

params {
    gene_tpm        = null
    transcript_tpm  = null
    outdir          = 'results'
    repository_name = 'Ensembl'
    transcript_type = 'mRNA'
    result_unit     = 'TPM'
}

profiles {
    conda {
        conda.enabled = true
        process.conda = "${projectDir}/environment.yml"
    }

    docker {
        docker.enabled = true
        process.container = 'omics-assay-to-immport:latest'
    }

    test {
        params.gene_tpm       = "${projectDir}/test_data/salmon.merged.gene_tpm.tsv"
        params.transcript_tpm = "${projectDir}/test_data/salmon.merged.transcript_tpm.tsv"
        params.outdir         = 'test_results'
    }
}

process {
    executor = 'local'
    cpus     = 1
    memory   = '2 GB'
}

report {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}

trace {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_trace.txt"
    overwrite = true
}
